{% extends "base.html" %}
{% block title %}Configuración de Catálogos{% endblock %}
{% block content %}
  <h2>Configuración de Catálogos</h2>
  <div class="list-group">
    <a href="{{ url_for('config_clases') }}"    class="list-group-item list-group-item-action">Gestión de Clases</a>
    <a href="{{ url_for('config_subclasses') }}" class="list-group-item list-group-item-action">Gestión de Subclases</a>
    <a href="{{ url_for('config_statuses') }}"   class="list-group-item list-group-item-action">Gestión de Estatus</a>
  </div>
{% endblock %}